{% extends "base.html" %}

{% block body_block %}
	<div class="container temp-margin">

		<div class="row">
			<div class="col-sm-8 mx-auto">
				
				<form action="{% url 'writersapp:post_create' %}"  method="POST"> {% csrf_token %}
					<div class="form-group">
						<h1><textarea class="title_form form_create pb-5 editable medium-editor-textarea" name="title" autofocus="" cols="30" rows="10"></textarea></h1>
						<h4><textarea class="detail-form form_create pb-5 editable medium-editor-textarea medium-editor-element" name="detail" cols="30" rows="10"></textarea></h4>
					</div>

					<button class="btn btn-custom" type="submit">Test</button>
				</form>
			</div>
		</div>
	</div>
{% endblock body_block %}
