{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}	
{% block body_block%}
<section class="temp-margin">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 mx-auto">
				{% if post.author_id == user.id %}
					{% if post.pub_date %}
						<textarea readonly="true" class="title_form form_create pt-3" name="title" autofocus="" required="">{{ post.title }}</textarea>
						<textarea readonly="true" id="detail_form" class="detail-form form_create pt-3" name="detail" required="">{{ post.detail }}</textarea>
					{% elif post.created_date and not post.pub_date %}
						<h1>Post is from Draft</h1>
						<form action="{% url 'writersapp:post_publish' pk=post.pk %}" method="POST">{% csrf_token %}
							<div class="form-group">
								<textarea class="title_form form_create p-3" name="title" autofocus="" required="">{{ post.title }}</textarea>
								<textarea id="detail_form" class="detail-form form_create p-3" name="detail" required="">{{ post.detail }}</textarea>
							</div>
							<button class="btn btn-custom" type="submit">Publish</button>
						</form>
					{% endif %}
				{% elif post.created_date and post.pub_date%}
					<textarea readonly="true" class="title_form form_create pt-3" name="title" autofocus="" required="">{{ post.title }}</textarea>
					<textarea readonly="true" id="detail_form" class="detail-form form_create py-0 my-0" name="detail" required="">{{ post.detail }}</textarea>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock body_block%}
