{% extends "base.html" %}

{% block body_block %}
	<div class="container temp-margin">

		<div class="row">
			<div class="col-sm-8 mx-auto">
				<form action="{% url 'writersapp:post_create' %}"  method="POST"> {% csrf_token %}
					<textarea id="titleForm" class="title_form pt-5" name="title" autofocus="" placeholder="Title" required=""></textarea>
					<textarea id="detailForm" class="detail-form" name="detail" placeholder="Tell your story" required="" autofocus=""></textarea>
					<button class="btn btn-custom" type="submit">Save</button>
				</form>
			</div>
		</div>
	</div>
{% endblock body_block %}
