{% extends "base.html" %}
{% block body_block%}
<section class="temp-margin">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 mx-auto">
				<form action="{% url 'writersapp:post_update' pk=post.pk %}" method="POST">{% csrf_token %}
					<div class="form-group">
					<textarea id="titleForm" class="title_form pt-5" name="title" autofocus="" placeholder="Title" required="">{{ post.title }}</textarea>
					<textarea id="detailForm" class="detail-form" name="detail" placeholder="Tell your story" required="" autofocus="">{{ post.detail }}</textarea>
					</div>
					<button class="btn btn-custom" type="submit">Publish</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock body_block%}
