{% extends "base.html" %}
{% load static %}
{% block body_block %}
	<section class="temp-margin">
		<div class="container shadow rounded">
			<div class="row">
				<div class="col-sm-5 pl-0">
					<!-- User image, email -->
					<div class="media shadow">
						<img src="{% static "img/brianmwevi.jpg" %}" class="img-fluid rounded" alt="Testing image">
					</div>
				</div>
				<!-- User details -->
				<div class="col-sm-7 bg-light text-center">
					<div class="d-sm-none d-lg-block">
						{% if user.get_full_name %}
							<h4 class="pt-3 font-weight-bold">{{ user.get_full_name }}</h4>
							<h6 class="text-lowercase">@{{ user.first_name }}{{ user.last_name }}</h6>
						{% else %}
							<p><strong>Description</strong></p>
						{% endif %}
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus corporis sequi, maiores distinctio reiciendis neque.</p>
						
					</div>
					<div class="row py-2 pr-3">
						<div class="col-sm-6 shadow rounded p-3 text-left">
							<p class=""><a href="#">Followers</a><span class="ml-3 badge-pill badge-dark">0</span></p>
							<p class=""><a href="#">Following</a><span class="ml-3 badge-pill badge-dark">0</span></p>
							<p><a href="{% url 'writersapp:drafts' %}" class="">Drafts</a><span class="ml-3 badge-pill badge-dark">{{ drafts.count }}</span></p>
							<p><a href="{% url 'writersapp:published' %}" class="">Published</a><span class="ml-3 badge-pill badge-dark">{{ pub.count }}</span></p>
						</div>
						<div class="col-sm-6 shadow rounded p-3 text-left">
							{% if user.get_full_name %}
								<p><strong>Full Name:</strong> {{ user.get_full_name }}</p>
							{% endif %}
							<p><strong>Username:</strong> {{ user.username }}</p>
							<p><strong>Email:</strong> {{ user.email }}</p>
							<p><strong>Date joined: </strong>{{ user.date_joined|date:"D m, Y" }}</p>
							<a href="{% url 'accounts:password_change' %}">Change password?</a>

						</div>
					</div>
					<a href="{% url 'accounts:logout' %}" class="btn btn-custom">Sign out</a>
				</div>
			</div>
			
		</div>
	</section>
{% endblock body_block %}