<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Writers | Blog</title>
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static "img/logoblog.png" %}" alt="Logo" style="width:90px">
			</a>
			<button class="navbar-toggler" data-target="#mainNav" data-toggle="collapse"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="mainNav">
				
				<ul class="navbar-nav ml-auto">

					{% if user.is_authenticated %}					
																		
						<li class="nav-item mx-2"><a href="" class="nav-link"><i class="fa fa-search"></i></a></li>
						<li class="nav-item mx-2"><a href="" class="nav-link"><i class="fa fa-bell-o"></i></a></li>
						<li class="nav-item mx-2"><a href="" class="nav-link btn btn-sm btn-custom">Upgrade</a></li>
						
						<div class="list-group list-group-flush popup">
							<img src="{% static "img/brianmwevi.jpg" %}" class="img-fluid rounded-circle" alt="Brian Mwevi" onclick="popMenu()" style="width:40px; height:40px">
								<div id="popupMenu" class="popup-menu">
									<a class="list-group-item list-group-item-action text-left bg-light border-0" href="{% url 'writersapp:post_create' %}"><small>New story</small></a>
									<a class="list-group-item list-group-item-action text-left bg-light border-0" href="{% url 'writersapp:drafts' %}"><small>Drafts</small> <span class="badge badge-info badge-pill">{{ user_draft.count }}</span></a>
									<a class="list-group-item list-group-item-action text-left bg-light border-0" href="{% url 'writersapp:published' %}"><small>Published</small> <span class="badge badge-info badge-pill">{{ user_pub_posts.count }}</span></a>
									<a class="list-group-item list-group-item-action text-left bg-light border-0" href="#"><small>Settings</small></a>
									<a class="list-group-item list-group-item-action text-left bg-light border-0" href="#"><small>Sign out</small></a>
								</div>
							</div>
						</div>
					{% else %}
					
						<li class="nav-item"><a href="" class="nav-link text-info">Sign up</a></li>
						
						<li class="nav-item"><a href="" class="nav-link text-info">Login</a></li>
					
					{% endif %}
					
				</ul>
				
			</div>
			
		</div>
		
	</nav>

	{% block body_block %}
	
		<h1>Hello world from base.html. The main base file</h1>
		
		<footer class="bg-secondary text-center">
			
			<p class="m-0 py-4">Created by
				
				<strong>
					
					<a href="https://brianmwevi.github.io" class="card-link">Brian Mwevi</a>
					
				</strong>
				
				<br>
				
				Copyrights &copy; 2018
				
			</p>
					
			<p class="m-0"></p>
			
		</footer>
	
	{% endblock body_block %}
	


	
	<script src="{% static "js/jquery.min.js" %}"></script>
	
	<script src="{% static "js/popper.min.js" %}"></script>
	
	<script src="{% static "js/bootstrap.min.js" %}"></script>

	<script src="{% static "js/main.js" %}"></script>

	<script>

		// using jQuery

		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

	</script>

	
</body>

</html>
 